html {
  scroll-behavior: smooth;
}
*{
  font-family: 'Trebuchet MS', sans-serif;
}
#header > img{
  display: inline-block;
  width: auto;  
}
.header-links{
  display: inline-grid;
  width: 80%;
  height: 50px;
  grid-template-columns: repeat(4, 10%);
  grid-gap: 10px;
  position: relative;
  top: -63px;
}
.header-links > .link{
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 35px;
  height: 39px;
  padding-top: 35px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
}
.header-links > .link:hover{
  background-color: #4471a3;
}
body{
  padding: 0;
  margin: 0;
  width: 100%;
}
.body {
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 40% 60%;
}
#header{
  box-shadow: 0px 24px 21px -26px rgba(0,0,0,0.75);
  background-color: #4f81bc;
  position: sticky;
  height: 70px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}
.header__logo{
  border: solid 1px black;
  cursor: pointer;
  margin: 10px;
  width: 100px;
  height: 50px;
}
footer{
  background-color: rgb(17, 17, 17);
  height: 200px;
  color: white;
  text-align: center;
  padding-top: 80px;
}
#description, #about-us, #contact {
  scroll-margin: 80px 0 0 0;
}
#ofan-features {
  scroll-margin: 80px 0 0 0;
}
.ofan-description{
  height: 300px;
  margin-top: 0;
  padding: 0 25px;
  font-size: 25px;
  text-align: center;
}
.ofan-description > h1 {
  font-style: normal;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  color: rgb(2, 2, 144);
}
.description {
  color: #5f6777;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.ofan-features{
  width: 100%;
  margin-bottom: 50px;
  display: grid;
  padding-top: 50px;
  grid-template-columns: 40% 60%;
  background-color:  rgb(233, 233, 233);
}
.ofan-features > h3 {
  width: 100%;
  height: 50px;
  font-size: 60px;
  font-weight: bold;
  color: rgb(1, 1, 44);
  margin-top: 10%;
  margin-left: 20%;
}
.about-us > h3 {
  width: 100%;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 73);
}
.feature{
  width: 300px;
  height: 300px;  
  box-shadow: 0px 24px 21px -26px rgba(0,0,0,0.75);
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: white;
}
.features {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.feature-image{
  width: 100%;
  border-radius: 8px 8px 0 0;
  height: 150px;
  object-fit: cover;
}
.feature-description{
  box-shadow: 1px -11px 23px -10px rgb(255 255 255 / 82%);
  text-align: end;
  padding-top: 40px;
  width: 80%;
  margin: 20px 0 0 25px;
  padding: 0px 20px 21px 0px;
  height: 90px;
  border-radius: 0px 0px 16px 0px;
  border-right: 3px solid #1f7ab74b;
  border-bottom: 3px solid #1f7ab74b;
  font-size: 24px;
  line-height: 30px;
  color: rgb(38, 38, 65);
}
.about-us__body{
  width: 70%;
  padding: 0 15%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}
.about-us_element{
  height: 300px;
  padding: 50px 10px;
  font-size: 14px;
  color: #333233;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}
.about-us_element > img{
  margin-bottom: 20px;
  height: 200px;
  width: 100%;
}
#contact {
  width: 100%;
  background-color: rgb(233, 233, 233);
  height: 550px;
  padding-top: 50px;
}
#contact-form {
  background: #F9F9F9;
  padding: 25px 25px 10px 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.424), 0 5px 5px 0 rgba(0, 0, 0, 0.472);
  width: 34%;
  margin-left: 33%;
  border-radius: 4px;
}
#contact-form h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
#contact-form > fieldset > input, textarea{
  border: solid 1px gainsboro;
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 4px;
}
#contact-form > fieldset > textarea{
  resize: none;
  height: 100px;
}
fieldset {
  border: medium none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
.submit {
  cursor: pointer;
  width: 80%;
  border: none;
  background: #3330ff;
  color: #FFF;
  margin: 20px 10% 0;
  padding: 20px;
  font-size: 15px;
  border-radius: 2px;
}
.submit:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}