html {
  scroll-behavior: smooth;
}
*{
  font-family: 'Ciutadella', sans-serif;
  color: rgb(38, 38, 65);
}
@font-face {
  font-family: 'Ciutadella';
  src: URL('../resources/Fonts/Ciutadella-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Ciutadella-bold';
  src: URL('../resources/Fonts/Ciutadella-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Ciutadella-light';
  src: URL('../resources/Fonts/Ciutadella-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Ciutadella-medium';
  src: URL('../resources/Fonts/Ciutadella-Medium.ttf') format('truetype');}
#header > img{
  display: inline-block;
  width: auto;  
}
.header-links{
  display: inline-grid;
  width: 80%;
  height: 40px;
  padding-left: calc(100% - 890px);
  grid-template-columns: repeat(7, 120px);
  position: relative;
  top: -45px;
}
.hide-on-desk {
  display: none;
}
.header-links > .link{
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 35px;
  height: 40px;
  padding-top: 30px;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;  
  transition: background-color 0.5s;
}
.header-links > .link:hover{
  background-color: rgb(66,106,153);
  background-color: linear-gradient(0deg, rgba(66,106,153,1) 0%, #4492c3 40%, #4492c3 100%); 
}
.select-lenguaje {
  position: absolute;
  top: 25px;
  right: 10px;
}
.language-dropdown {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35px 35px;
  margin-top: 15px;
}
.hidden-dropdrown {
  display: none;
}
.language-span {
  background-color: #4471a3;
  color: white;
  padding: 15px;
  cursor: pointer;
}
.language-link {
  text-align: center;
  text-decoration: none;
  background-color: #568dcc;
  color: white;
  border: solid 1px #3f6999;
  padding-top: 7px;
}
.language-link:hover {
  background-color: #3f6999;
}
body{
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
.body {
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0;
}
#header{
  box-shadow: 0px 24px 21px -26px rgba(0,0,0,0.75);
  background-color: #4492c3;
  position: sticky;
  height: 60px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}
.header__logo{
  border: solid 1px black;
  cursor: pointer;
  margin: 10px;
  width: 100px;
  height: 50px;
}
section {
  color: #013045;
}
#about-us, #industry, #mission, #product, #support, #contact-us {
  scroll-margin: 60px 0 0 0;
}
.home-image {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#about-us {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100vh;
}
.about-us-image {
  display: inline-block;
  width: 100%;
  height: 90vh;
  padding: 5vh 10%;
  padding-left: 0;
}
.about-us-title, .industry-title, .mission-title, .product-title, .support-title {
  font-family: 'Ciutadella-bold', sans-serif;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  padding: 20px 0 0;
}
.about-us-description, .industry-description {
  font-size: 1.5vw;
  font-family: 'Ciutadella';
}
.about-us-description > .section, .industry-description > .section, .product-description > .section, .more-info-description > .section, .support-description > .section {
  display: block;
  text-align: justify;
  padding: 1.5vw 50px;
}
.about-us-description > .section > .bold {
  font-family: 'Ciutadella-bold';
  color: #012333;
}
#industry {
  background-image: url(../resources/11.jpg);
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 57%;
  padding-top: 20px;
}
.industry-title {
  color: white;  
}
.industry-description > .section {
  color: white;
  font-family: 'Ciutadella';
  font-weight: bold;
  font-style: italic;
  font-size: 1.4vw;
}
.industry-description > .section > .bold {
  font-family: 'Ciutadella-bold';
  color: #0275aa;
}
#mission {
  background-image: url(../resources/08.jpg);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vh 40px 0 70%;
}
.mission-title {
  color: white;
}
.mission-description > .section {
  color: white;
  font-family: 'Ciutadella';
  font-weight: bold;
  font-style: italic;
  font-size: 1.6vw;
  text-align: justify;
}
.mission-description > .section > .bold {
  font-family: 'Ciutadella-bold';
  color: #0275aa;
}
#product {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100vh;
}
.product-image {
  display: inline-block;
  width: 180%;
  height: 90vh;
  padding: 10vh 10%;
  padding-left: 0;
}
.product-description {
  font-size: 1.5vw;
  font-family: 'Ciutadella';
}
.product-description > .section > .bold {
  font-family: 'Ciutadella-bold';
  color: #012333;
}
.product-title {
  padding-top: 100px;
}
.more-info > img {
  width: 100%;
  max-height: fit-content;
}
.more-info > .more-info-image-01 {
  height: 572px;
}
.more-info > .more-info-image-02 {
  height: 100vh;
}
#more-info-03 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.more-info > .more-info-image-03 {
  height: 100vh;
  width: 100%;
}
.more-info-description > .section > .bold {
  font-family: 'Ciutadella-bold';
  color: #012333;
}
.more-info-description {
  padding-top: 150px;
}
.more-info-description > .section {
  font-size: 1.5vw;
  font-family: 'Ciutadella';
}

#support {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100vh;
}
.support-image {
  display: inline-block;
  width: 100%;
  height: 90vh;
  padding: 10vh 10%;
  padding-left: 0;
}
.support-description {
  width: 100%;
  font-size: 1.5vw;
  font-family: 'Ciutadella';
}
.support-description > .section > .bold {
  font-family: 'Ciutadella-bold';
  color: #012333;
}
.support-title {
  padding-top: 100px;
}

#contact-us {
  width: 100%;
  background-color: rgb(233, 233, 233);
  height: 550px;
  padding-top: 50px;
}
#contact-form {
  background: #F9F9F9;
  padding: 25px 25px 10px 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.424), 0 5px 5px 0 rgba(0, 0, 0, 0.472);
  width: 34%;
  margin-left: 33%;
  border-radius: 4px;
}
#contact-form h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
#contact-form > fieldset > input, textarea{
  border: solid 1px gainsboro;
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 4px;
}
#contact-form > fieldset > textarea{
  resize: none;
  height: 100px;
}
fieldset {
  border: medium none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
.submit {
  display: block;
  text-align: center;
  cursor: pointer;
  width: 80%;
  border: none;
  background: #4472C4;
  color: #FFF;
  margin: 20px 10% 0;
  padding: 20px;
  font-size: 15px;
  border-radius: 2px;
}
.submit:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
footer{
  background-color: rgb(17, 17, 17);
  height: 200px;
  text-align: center;
  padding-top: 80px;
}
.footer-description {
  color: white;
}